
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html,body{height:100%}

.avatar {
  height: 20px;
  width: 20px;
}

.single-photo-gallery {
  max-height:150px;
}

#home-map {
  margin-top: -25px;
  height: calc(100% - 50px);
  width: 100%;
}

.popup-img {
  width: 150px;
  max-height: 150px;
}